a {
  color: #B54526;
}
header {
  margin: 0px 0;
  padding: 5px 0;
  height: 75px;
  background-color: #F1EDE0;
}
#header-menu {
  margin-top: 10px;
}
#header-menu .button.secondary {
  background-color: #F1EDE0;
}
#header-menu .button.secondary:hover {
  background: #cecece;
}
