
    <header>
      <div class="row">
        <div class="small-8 columns" id="title">
          <a href="/"><img src="/images/drs-logo-s.jpg" title="Durango Ruby School" /></a>
        </div>
        <div class="contact small-4 columns">
          <ul class="right button-group radius">
            <li><a class="small secondary button" href="/about">About</a></li>
            <li><a class="small secondary button" href="/contact">Contact</a></li>
          </ul>  
        </div>
      </div>
    </header>
